nbproject/project.xml
build.xml
nbproject/genfiles.properties
nbproject/project.properties
nbproject/private/private.properties
nbproject/build-impl.xml
manifest.mf
/build/
/dist/
.project
.classpath
.settings/org.eclipse.core.resources.prefs
*.class
bin/img/golv1.png
bin/img/vägg1.png
bin/img/teleport1.png
bin/java.policy.applet